#desktop-view{
     position:"relative";
      background-image: url(/src/images/image-5.jpg) ;
}


#desktopNav{
    display: none; 
 } 



@media screen and (min-width:599px) {
  
    #desktopNav{
        display: block; 
     } 

#mobileNav{
    display: none;
  }

  #bottomNav{
    display: none;
 }

 }  

